/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Wildcard Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------- General Styles */

body {
    background-color: rgb(31, 0, 75);
    /* text styles */
    font-family: 'Orbitron', Helvetica, sans-serif;
    text-align: center;
    color: rgb(84, 239, 234);
    margin-top: 30px;
}

/* -------- Header / Game Title Styles */
header {
    padding: 5px;
}

h1 {
    font-size: 50px;
    padding: 15px;                    
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
    text-decoration: underline;
}

.text-shadow {
    text-shadow: 0 0 5px rgba(233, 250, 249, 0.552),
                0 0 10px rgba(233, 250, 249, 0.552),
                0 0 15px rgba(233, 250, 249, 0.552);
}

/* -------- Game Board Styles */
#board {
    margin: 40px 0 10px 0;
    text-align: center;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.board-slot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* slot styles */
    border: 3px solid white;
    height: 100px;
    width: 100px;
    /* X O styles */
    color: 	rgb(236, 52, 153);
    font-size: 80px;
}

/* Removes outer-most border */
.board-slot:first-child,
.board-slot:nth-child(2),
.board-slot:nth-child(3) {
    border-top: none;
}

.board-slot:nth-child(3n + 1) {
    border-left: none;
}

.board-slot:nth-child(3n + 3) {
    border-right: none;
}

.board-slot:nth-child(7),
.board-slot:nth-child(8),
.board-slot:last-child {
    border-bottom: none;
}

/* Individual Slots */
/* Credits: X and O creation from Web Dev Simplified */
/* Creates X */
.board-slot.x::before,
.board-slot.x::after {
    content: ''; /*empty string*/
    position: absolute;
    width: 15%;
    height: 90%;
    background-color: orange;
}

.board-slot.x::before {
    transform: rotate(45deg);
}

.board-slot.x::after {
    transform: rotate(-45deg);
}

/* Creates O */
.board-slot.o::before,
.board-slot.o::after {
    content: ''; /*empty string*/
    border-radius: 50%;
    position: absolute;
}

/* O Outer Circle */
.board-slot.o::before {
    width: 90%;
    height: 90%;
    background-color: orange;
}

/* O Inner Circle */
.board-slot.o::after {
    width: 65%; 
    height: 65%;
    background-color: rgb(31, 0, 75);
}

/* -------- Tally Container Styles */
#tally-container {
    margin: 40px 0 30px 0;
}

#p2-tally {
    margin-top: 30px;
}

.tally {
    color:	rgb(173, 224, 231);
    text-align: center;
    font-size: 25px;
    font-weight: 450;
    padding: 10px 0 10px 0;
}

/* New game button */
#new-game {
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    line-height: 30px;
    font-family: 'Orbitron', Helvetica, sans-serif;
    background-color: rgb(209, 5, 117);
    color: white;
    border: 2px solid rgba(237, 168, 206, 0.865);
    border-radius: 5px;
    margin-bottom: 80px;
}