/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Wildcard Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------- General Styles */

body {
    background-color: rgb(31, 0, 75);
    /* text styles */
    font-family: 'Orbitron', Helvetica, sans-serif;
    text-align: center;
    color: rgb(84, 239, 234);
}

/* -------- Header / Game Title Styles */
header {
    padding: 5px;
}

h1 {
    font-size: 50px;
    padding: 15px;
}

h2 {
    font-size: 35px;
}

/* -------- Game Board Styles */
#board {
    margin: 40px 0 10px 0;
    color: rgb(255, 255, 255);
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 90px 90px 90px;
}

.board-slot {
    /* slot styles */
    border: 3px solid white;
    height: 90px;
    width: 90px;
    margin-inline: auto; /* aligns slot boxes */
    display: flex;
    align-items: center;
    justify-content: center;
    /* X O styles */
    color: 	rgb(236, 52, 153);
    font-size: 60px;
}

/* -------- Tally Container Styles */
#tally-container {
    margin: 40px 0 0 0;
}

.tally {
    color:	rgb(173, 224, 231);
    text-align: center;
    font-size: 20px;
    padding: 10px 0 10px 0;
}